name: PR Quality Check

on:
  push:
    branches: [main, develop, 'release-*']

jobs:
  quality_check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install Dependencies and Packages
        run: npm ci

      - name: Test
        run: npm run test

      - name: Build
        run: npm run build
